* {
    box-sizing: border-box;
    /* color:#f1f6fb; */
}

body {
    /* -ms-overflow-style: none; */
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Ubuntu Mono', sans-serif;
}

hr {
    color: #000;
    size: 20px;
}

footer {
    padding-top: 40px;
    text-align: center;
}

.content {
    /* background-color: #111112; */
    background-color: #ffffff;
    color: #1f1f1f;
    /* font-family:"Ubuntu Mono", monospace; */
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    padding-top: 40px;
    padding-right: 7.5%;
    padding-left: 7.5%;
    padding-bottom: 30px;
    width: 100vw
}

.intro-card {
    font-family: "Ubuntu Mono", monospace;
    height: 100vh;
    padding-top:15vh;
    width: 100vw;
}

.intro-card button {
    width: 130px;
}

.intro-card button:hover {
    border-color: #8a8a8a;
    background-color: #000000;
    color: #ffffff
}

.fade-in {
    animation: fadeIn 6s;
    -webkit-animation: fadeIn 6s;
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.portfolio-page {
    padding-top: 45px;
}

.skills-page {

}

.skills-page h2 {
    font-size: 1.37em;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}

.skills-page ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.list-box {
    border-color: black;
    border-style: outset;
    border-width: 5px;
    margin-top: 10px;
}