* {
    box-sizing: border-box;
    color:#f1f6fb;

}

p a, .fill-div a {
    font-weight: bold;
    text-decoration: none;
}

header {
    width: calc(100vw - 12px);
}

body {
    -ms-overflow-style: none;
    overflow-y: scroll;
    font-family: 'Ubuntu Mono', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    background-color: #242427;
    font-family: 'Ubuntu Mono', monospace;
    margin:0px;
    padding:0px;
}

nav h3 {
    margin: 16px 0px;
    padding-left: 0px;
    padding-right: 0px;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    color: inherit
}

nav input[type=button] {
    background-color: transparent;
    border: none;
    display: block;
    font-size: 19px;
    margin: 0px auto;
    text-decoration: none;
    width:100%;
    height:100%;
}

nav input[type=button]:hover {
    background-color: #534e44;
}

nav .row {
    height:100%;
    width:100%;
}


/* CONTENT */
.content {
    background-color: #111112;
    font-family:"Ubuntu Mono", monospace;
    padding-top: 40px;
    padding-right: 7.5%;
    padding-left: 7.5%;
    padding-bottom: 30px;
    width: 100vw
}

.content i {
    font-weight: bold;
}

.content p, i, b {
    font-size: 19px;
}

.content h1 {
    margin-bottom: 30px;
}

.content .row {
    margin-bottom: 25px;
}

.intro-card {
    font-family: "Ubuntu Mono", monospace;
}

.fill-div {
    height: calc(100vh - 66px);
    width: 100vw;
}

/* styling for fade-in on index.html */
.fade-in {
    animation: fadeIn 8s;
    -webkit-animation: fadeIn 8s;
    -moz-animation: fadeIn 8s;
    -o-animation: fadeIn 8s;
    -ms-animation: fadeIn 8s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}